<div style = "line-height: 0 px">
    <nav class = "navbar navbar-expand-sm navbar-light bg-light">
            <div class="navbar-brand d-flex w-50 mr-auto" style="display: inline">
                <a class = "navbar-brand" href="#" >
                    <img src="/img/logo.svg" width="30" height="30" alt="" align="middle">
                    BestDeal 
                </a>
            </div>
            <div class="navbar-collapse w-100 justify-content-center">
                    <ul class = "nav navbar-nav">
                        <li class = "navbar-item">
                            <a class = "nav-link" href = "/views/travel.html">Travel</a>
                        </li>
                        <li class = "navbar-item">
                            <a class = "nav-link" href = "views/electronics.html">Electronics</a>
                        </li>
                        <li class = "navbar-item">
                            <a class = "nav-link" href = "views/food.html">Food</a>
                        </li>
                        <li class = "navbar-item">
                            <a class = "nav-link" href = "views/book.html">Book</a>
                        </li>
                        <li class = "navbar-item">
                            <a class = "nav-link" href = "#/views/car.html">Car</a>
                        </li>
                    </ul>            
                    <ul class = "nav navbar-nav">
                        <form class = "form-inline my-2 my-lg-0" display: inline-block;>
                        <ul>
    <!--                    <ul ng-if = "!isAuthenticated()">-->
                            <a role="button" class = "btn btn-outline-success mr-sm-2" href="../login/login.html">Sign In</a>
                            <a role="button" class = "btn btn-outline-danger" href="../login/register.html">Register</a>
                        </ul>

    <!--
                        <ul ng-if = "isAuthenticated()">
                            <a role="button" class = "btn btn-outline-success mr-sm-2" href="#/logout">Logout</a>

                        </ul>
    -->
                    </form>
                    </ul>           
            </div>
        </nav>
</div>